flow.json
[{"id":"5a291c4d.97b0d4","type":"tab","label":"eFriends Flow","disabled":false,"info":""},{"id":"4a28a706.2f7668","type":"debug","z":"5a291c4d.97b0d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":20,"wires":[]},{"id":"ca1d5e25.46ee4","type":"inject","z":"5a291c4d.97b0d4","name":"Intervall 15Sekunden","props":[{"p":"payload"}],"repeat":"15","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":160,"y":120,"wires":[["cf9bda9f.8d2b48"]]},{"id":"cf9bda9f.8d2b48","type":"http request","z":"5a291c4d.97b0d4","name":"eFriends Meterdaten","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://xyz.balena-devices.com/api/MeterData/getCurrentValue","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":120,"wires":[["a37683ec.ede6f"]]},{"id":"f6bdc9e6.7fe188","type":"ui_gauge","z":"5a291c4d.97b0d4","name":"","group":"f2fefd6e.2face","order":1,"width":"4","height":"3","gtype":"gage","title":"Verbrauch/ Einlieferung","label":"Watt","format":"{{value}}","min":"-4000","max":"+4000","colors":["#ee932b","#27a40e","#d58907"],"seg1":"-500","seg2":"+500","x":1010,"y":60,"wires":[]},{"id":"324fb6d8.25873a","type":"change","z":"5a291c4d.97b0d4","name":"setze energyBalance","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.energyBalance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":120,"wires":[["f6bdc9e6.7fe188","4a28a706.2f7668","6303733.fd3818c"]]},{"id":"a37683ec.ede6f","type":"json","z":"5a291c4d.97b0d4","name":"","property":"payload","action":"","pretty":false,"x":550,"y":120,"wires":[["324fb6d8.25873a"]]},{"id":"98d741ea.8829d","type":"kasa","z":"5a291c4d.97b0d4","name":"HS110 Meter","device":"192.168.13.222","interval":60000,"eventInterval":"15000","payload":"getInfo","payloadType":"info","debug":false,"x":450,"y":360,"wires":[["5a7d8108.08742"]]},{"id":"caf0b3b0.c0fb4","type":"ui_gauge","z":"5a291c4d.97b0d4","name":"","group":"f2fefd6e.2face","order":3,"width":"4","height":"4","gtype":"gage","title":"Verbrauch HS110","label":"W","format":"{{value}}","min":0,"max":"2500","colors":["#adadad","#adadad","#adadad"],"seg1":"800","seg2":"1500","x":850,"y":360,"wires":[]},{"id":"133c2683.24bfc9","type":"inject","z":"5a291c4d.97b0d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"getMeterInfo","payloadType":"str","x":130,"y":360,"wires":[["98d741ea.8829d"]]},{"id":"5a7d8108.08742","type":"change","z":"5a291c4d.97b0d4","name":"setze power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power","tot":"msg"},{"t":"change","p":"","pt":"msg","from":"Error connecting to device","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":360,"wires":[["caf0b3b0.c0fb4"]]},{"id":"369cfb00.845696","type":"inject","z":"5a291c4d.97b0d4","name":"Intervall 10Sek","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"getMeterInfo","payloadType":"str","x":140,"y":400,"wires":[["98d741ea.8829d"]]},{"id":"e885bd92.eb0e3","type":"smart-plug","z":"5a291c4d.97b0d4","name":"Schalter HS100","device":"192.168.13.224","interval":10000,"eventInterval":1000,"x":1260,"y":200,"wires":[["bafeec4d.a7ee2"]]},{"id":"6303733.fd3818c","type":"switch","z":"5a291c4d.97b0d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"100","vt":"num"},{"t":"lt","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":140,"wires":[["30831579.3bc7da"],["9ac25110.4e7fc"]]},{"id":"3eaeda64.3f4d26","type":"debug","z":"5a291c4d.97b0d4","name":"Switch Ausgang","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1260,"y":100,"wires":[]},{"id":"30831579.3bc7da","type":"change","z":"5a291c4d.97b0d4","name":"einschalten","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":100,"wires":[["3eaeda64.3f4d26","e885bd92.eb0e3"]]},{"id":"9ac25110.4e7fc","type":"change","z":"5a291c4d.97b0d4","name":"ausschalten","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":160,"wires":[["3eaeda64.3f4d26","e885bd92.eb0e3"]]},{"id":"fb28478e.5aaf98","type":"ui_switch","z":"5a291c4d.97b0d4","name":"Heizung","label":"Heizung","tooltip":"","group":"f2fefd6e.2face","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":200,"wires":[["e885bd92.eb0e3"]]},{"id":"bafeec4d.a7ee2","type":"change","z":"5a291c4d.97b0d4","name":"setze relay_state auf button","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.relay_state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":260,"wires":[["fb28478e.5aaf98"]]},{"id":"f2fefd6e.2face","type":"ui_group","name":"Strommessung","tab":"c48695a0.cda448","order":1,"disp":true,"width":"6","collapse":false},{"id":"c48695a0.cda448","type":"ui_tab","name":"Strom","icon":"bolt","order":2,"disabled":false,"hidden":false}]